body {
    background: #dcdcdc73;
}
.singleBox {
    background: #a9a9a9a6;
    padding: 10px 10px;
    border: 2px solid #ff5200;
    margin-top: 15px;
    border-radius: 5px;
}
.footerClass {
    background: darkgray;
    padding: 1px 0px;
    font-style: italic;
}